{
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "arrowParens": "always",
    "printWidth": 120,
    "useTabs": true,
    "proseWrap": "preserve",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.css",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
