.notifications-component {
  font-family: 'Roboto';
}
.notification-container--top-right {
  right: 20px;
  top: 50px;
}
hr {
  border-top: 0.25px solid #ccc;
  border-left: 0.25px solid #ccc;
  border-right: 0.25px solid #ccc;
}
